<nav class="pc-sidebar">
  <div class="navbar-wrapper">

    <!-- ===== LOGO ===== -->
    <div class="m-header">
      <a [routerLink]="['/']" class="b-brand">
        <img src="assets/images/logo.svg" alt="GerAI" class="logo logo-lg" />
      </a>
    </div>

    <!-- ===== MENU ===== -->
    <div class="navbar-content scroll-div">

      <ul class="pc-navbar">

        @for (group of navItems; track group.title) {

          <!-- ===== GROUPE ===== -->
          <li class="pc-item pc-caption">
            <label>{{ group.title }}</label>
          </li>

          <!-- ===== ITEMS ===== -->
          @for (item of group.children; track item.title) {

            <!-- ITEM SIMPLE -->
            @if (!item.children || item.children.length === 0) {
              <li class="pc-item">
                <a [routerLink]="item.url"
                   routerLinkActive="active"
                   class="pc-link">
                  <span class="pc-micon">
                    <i class="{{ item.icon }}"></i>
                  </span>
                  <span class="pc-mtext">{{ item.title }}</span>
                </a>
              </li>
            }

            <!-- ITEM AVEC SOUS-MENU -->
            @else {
              <li class="pc-item pc-hasmenu">
                <a href="javascript:void(0)" class="pc-link">
                  <span class="pc-micon">
                    <i class="{{ item.icon }}"></i>
                  </span>
                  <span class="pc-mtext">{{ item.title }}</span>
                  <span class="pc-arrow"></span>
                </a>

                <ul class="pc-submenu">
                  @for (sub of item.children; track sub.title) {
                    <li class="pc-item">
                      <a [routerLink]="sub.url"
                         routerLinkActive="active"
                         class="pc-link">
                        {{ sub.title }}
                      </a>
                    </li>
                  }
                </ul>
              </li>
            }

          }

        }

      </ul>

    </div>
  </div>
</nav>
